.diff-from-hafs {

    color: #ff00ff;


    direction: ltr;

}

.ra-muraqqaqah {

    color: #44e53f;
    
}

.lam-mulaghazhah {

    color: blue;
}

.mad-badal {

    color: #00ccff;
}

.taqlil-word {

    color: red;
}

.silah-meem {

    color: orange;
}

.mad-lin {

    color: #9acc00;
}