.diff-from-hafs {

    color: #f703f6; 


    direction: ltr;

}

.ra-muraqqaqah {

    color: #44e53f;
    
}

.lam-mulaghazhah {

    color: #0273fd;
}

.mad-badal {

    color: #00ccff;
}

.taqlil-word {

    color: red;
}

.silah-meem {

    color: orange;
}

.mad-lin {

    color: #9acc00;
}

.idgham {

    color: #4a23f1;
}