


:root {

    --primary-color: #eae2d9;
    --secondary-color: #212121;
    
}

.dark-theme {

    --primary-color: #242425;
    --secondary-color: #fff;
    

}


hr {
    margin: 10px 0;
}

.page-number {
    font-family: Uthman;
    font-size: 23px;
    
}


.extra-space {

    height: 200px;

}

.quranBtns {

    display: inline-block;
    
    margin: 0px 7px;
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 16px;
    color: black;
    /* background-color: rgb(255, 255, 255); */
    background-color: white;
    
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.quranBtns:hover {

    background-color: rgb(235, 234, 234);
    
}

.pages {
    width: 700px;

    margin-bottom: 50px;
    margin-top: 30px;

    
    
}


@media only screen and (max-width: 640px) {
    
    .pages {
        width: 390px;
        
    }
    

    

}