@font-face {
    font-family: Uthman;
    src: 
         url('../Fonts/UthmanTN.ttf') format('truetype');


}

@font-face {
    font-family: Neiziri;
    src: 
         url('../Fonts/Neirizi.ttf') format('truetype');


}

@font-face {
    font-family: Amiri;
    src: 
         url('../Fonts/Amiri-Regular.ttf') format('truetype');


}

@font-face {
    font-family: Hafs;
    src: 
         url('../Fonts/Hafs.ttf') format('truetype');


}

@font-face {
    font-family: Thuluth;
    src: 
         url('../Fonts/AM_Thulth_Regular.ttf') format('truetype');


}

@font-face {
    font-family: Symbols;
    src: 
         url('../Fonts/Symbols1_Ver02.otf') format('opentype');


}


:root {

    --primary-color: #eae2d9;
    --secondary-color: #212121;
    
}

.dark-theme {

    --primary-color: #242425;
    --secondary-color: #fff;
    

}


hr {
    margin: 10px 0;
}

.page-number {
    font-family: Neiziri;
}


.extra-space {

    height: 200px;

}

.quranBtns {

    display: inline-block;
    
    margin: 0px 7px;
    margin-top: 30px;
    padding: 10px 25px;
    font-size: 16px;
    color: black;
    /* background-color: rgb(255, 255, 255); */
    background-color: white;
    
    border: 1px solid;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.quranBtns:hover {

    background-color: rgb(235, 234, 234);
    
}

